.adminLayout {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.sidebar {
  width: 240px;
  background-color: #791c1c;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.sidebarClosed {
  width: 80px;
  padding: 1rem 0.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  margin: 1rem 0;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  transition: background 0.2s;
}

.sidebar nav a:hover {
  background: rgb(196, 55, 55);
}

.activeLink a {
  background: rgba(210, 123, 123, 0.401);
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menuBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchBar {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
}



.mainContent {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}
